.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /* Ajustar tamaño de la imagen del usuario */
  .user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }