<div class="container">
  <h3 class="text-center mb-2 mt-2" mt-3>
    <i class="fa-solid fa-users"></i> Gestion de Roles de Usuario
  </h3>

  <button class="btn btn-secondary mb-4">
    <i class="fas fa-plus"></i> Agregar Rol
  </button>

  <table class="table caption-top">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Rol</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      @for (rol of roles; track rol; let id = $index) {
      <tr>
        <th scope="row">{{ id +1 }}</th>
        <td>{{ rol.descripcion }}</td>
        <td>
          <button class="btn btn-secondary me-2">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
